<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidato mais votado</title>
</head>
<body>
    <h1>Candidato mais votado</h1>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <%= candidato[0].nome_candidato %>
                </h5>
                <p class="card-text">
                    <%= candidato[0].votos_candidato %>
                </p>
            </div>
        </div>
        <hr />
    </div>
</body>
</html>